/* Reset de quelques styles par défaut */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Ajustements pour le formulaire */
.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.p-4 {
    padding: 2rem !important;
}

.rounded {
    border-radius: 0.5rem !important;
}

/* Style pour le bouton */
.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* code de style de la barre du menu */
.navbar {
    background-color: #f8f9fa; /* Couleur de fond du menu */
    padding: 10px 0; /* Espacement autour du menu */
    border-bottom: 1px solid #dee2e6; /* Ligne de séparation en bas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container {
    width: 100%;
    max-width: 1200px; /* Largeur maximale du conteneur */
    padding: 0 15px; /* Espacement horizontal */
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-buttons {
    display: flex;
}

.navbar-buttons-left {
    margin-right: auto; /* Pousse les boutons vers la gauche */
}

.navbar-buttons-right {
    margin-left: auto; /* Pousse les boutons vers la droite */
}

.navbar-button {
    background-color: #007bff; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte des boutons */
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.navbar-button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo img {
    max-height: 100px; /* Hauteur maximale du logo */
}

main {
    padding: 20px; /* Espacement pour le contenu principal */
}